.moreclass {
    color: red;
}
#parent{
    color: green;
}
#parent-child {
    color: blue;
}
body {
    background-color: #ff5200;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
  font-family: Georgia, serif;
}
header {
  display: flex;
  justify-content: space-between; /* Pushes logo to left, menu to right */
  align-items: center;
  padding: 20px;
  color: white;
}

footer {
  display: flex;
  justify-content: space-between; /* Pushes logo to left, menu to right */
  align-items: center;
  padding: 20px;
  color: black;
}

nav ul {
  list-style: none; /* Removes bullet points */
  display: flex;
  gap: 20px; /* Space between links */
  margin: 0;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none; /* Removes underlines */
  font-weight: bold;
}

nav a:hover {
  color: #ddd; /* Visual feedback on hover */
}

.body-heading {
  font-size: 48px;
  text-align: center;
  margin: auto;
  font-style: bolder;
  color: #FFF;
  padding: 40px;
}

.restaurant-card {
  width: 280px;
  background: #1e1e1e;
  border-radius: 18px;
  overflow: hidden;
  margin: 40px auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.restaurant-card:hover {
  transform: translateY(-8px);
}

.restaurant-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  padding: 16px;
  color: white;
}

.card-content h2 {
  margin: 0;
  font-size: 22px;
}

.card-info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.rating {
  background: #16a34a;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 14px;
}

.delivery-time {
  color: #d1d5db;
  font-size: 14px;
}

.cuisine {
  color: #9ca3af;
  margin-top: 12px;
  font-size: 14px;
}

.order-btn {
  width: 100%;
  margin-top: 16px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #ff7a00;
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.order-btn:hover {
  background: #ff9500;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 30px;
  justify-items: center;
}